body, html {
    height: 100%;
    margin: 0;
}


.hero {
    background-color:darkslategray;
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}
